body {
    background-color: #363737;
    color: white;
}

footer {
    display: block;
    color: white;
    padding: 25px;
}

.content {
    max-width: 500px;
    margin: auto;
  }

.container {
    background-color: rgba(0, 0, 0, .85);
    color:white;
    margin: 5%;
    padding: 5%;
    border: 7px solid black;
    border-radius: 50px;
    position: relative;
}

.dropdown-menu {
    background-color: #4c4e4e;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #969696;
}

.headertext {
    text-align: center;
}