body {
    background-color: #5c4634;
}

footer {
    display: block;
    color: white;
    padding: 25px;
}

.container {
    background-color: rgba(0, 0, 0, .85);
    color:white;
    margin: 5%;
    padding: 5%;
    border: 7px solid black;
    border-radius: 50px;
    position: relative;
}

#KrabbyPatty {
    background-image: url(pictures/krabbypatty.jpg);
    background-size: cover;
    background-position: center;
}

#KrustyKrabPizza {
    background-image: url(pictures/Pizza.png);
    background-size: cover;
    background-position: center;
}

#CoralBits {
    background-image: url(pictures/coral.png);
    background-size: cover;
    background-position: center;
}

#SaltySeaDog {
    background-image: url(pictures/seadog.png);
    background-size: cover;
    background-position: center;
}

#PizzaPatty {
    background-image: url(pictures/pizzapatty.png);
    background-size: cover;
    background-position: center;
}

#KelpShake {
    background-image: url(pictures/kelpshake.png);
    background-size: cover;
    background-position: center;
}